<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    {{>header}}
    <section>
        <div class="white">
            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci dolores nemo sequi. Ad aliquam obcaecati ducimus asperiores odit dolores, voluptas provident nam nisi ipsa. Rerum blanditiis fugiat repellat perspiciatis!</p>
                </div>
                <div class="col-sm-4 col-md-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci dolores nemo sequi. Ad aliquam obcaecati ducimus asperiores odit dolores, voluptas provident nam nisi ipsa. Rerum blanditiis fugiat repellat perspiciatis!</p>
                </div>
                <div class="col-sm-4 col-md-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci dolores nemo sequi. Ad aliquam obcaecati ducimus asperiores odit dolores, voluptas provident nam nisi ipsa. Rerum blanditiis fugiat repellat perspiciatis!</p>
                </div>
                <div class="col-sm-4 col-md-2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci dolores nemo sequi. Ad aliquam obcaecati ducimus asperiores odit dolores, voluptas provident nam nisi ipsa. Rerum blanditiis fugiat repellat perspiciatis!</p>
                </div>
            </div>
        </div>
    </section>
    
    
    {{>footer}}
    <script rel="script" src="/public/JS/bootstrap.bundle.js"></script>
    <script src="/JS/jquery-3.4.1.min.js"></script>
</body>
</html>