<div class="row" >
    <a href="/" class="btn btn-outline-primary text-center col-sm-12 col-md-3 m-2 ">Home</a>
    <a href="/about" class="btn btn-outline-primary text-center col-sm-12 col-md-3 m-2">About Us</a>
    <a href="/contacts" class="btn btn-outline-primary text-center col-sm-12 col-md-3 m-2">Contact Us</a>
    <a href="/help" class="btn btn-outline-primary text-center col-sm-12 col-md-3 m-2"> Help</a>
</div>